* {
    box-sizing: border-box;
}

body {
    background: #1c1e26;
    color: #fff;
    max-width: 500px;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    font-family: sans-serif;
}

input[type="color"] {
    width: 32.5%;
    height: 40px;

    border: none;
    border-radius: 3px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

a {
    text-decoration: none;
}

.qr-text {
    background: #181b29;
    color: #fff;
    width: 100%;

    display: block;

    margin: 0.5rem 0 1rem 0;
    padding: 1rem;
    border: 1px solid #414866;
    border-radius: 4px;
    
    outline: none;
}

.qr-text::placeholder {
    color: #8b92b7;
    font-weight: 500;
}

#qr-code {
    width: 500px;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #414866;
}

#qr-code img, #qr-code canvas {
    max-width: 100% !important;
    max-height: 100% !important;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sizes {
    background: #181b29;
    color: #fff;
    width: 32.5%;
    height: 40px;

    border: 1px solid #414866;
    border-radius: 4px;
    
    text-align: center;
    outline: none;
}

.btn {
    background: rgb(106, 43, 255);
    color: #fff;
    min-width: 200px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 100%;
    
    padding: 14px;
    border: none;
    border-radius: 4px;
    
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn img {
    width: 20px;
    margin-left: 10px;
}

.share-btn {
    margin-left: 0.7rem;
}

.action-container {
    display: flex;
    flex: 100%;
    justify-content: space-between;

    margin: 1rem 0;
}

@media (max-width: 512px) {
    body {
        max-width: 100%;
        padding: 10px;
    }

    #qr-code {
        width: 95vw;
        height: 95vw;
    }

    #qr-code img, #qr-code canvas {
        max-width: 95vw !important;
        max-height: 95vw !important;
    }

    .btn {
        min-width: unset;
    }
}

@media (max-width: 350px) {
    .action-container {
        flex-direction: column;
    }

    .share-btn {
        margin-left: 0;
        margin-top: 0.7rem;
    }
}